/* Sources used:
    - https://static.tumblr.com/zlim8hm/29yn6561z/force-cursor.png (cursor),
    - https://github.com/google/fonts/blob/main/ofl/poppins (font)
    - https://codepen.io/WebSonata/pen/bRaONB (preloader)
*/

* {
  font-family: Poppins, sans-serif;
}

html {
  cursor: url('assets/Images/cursor.png'), default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    background-color: #131314;
}

@font-face {
  font-family: Poppins, sans-serif;
  src: url('assets/Others/Poppins.ttf');
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

a {
  color: #8c5dd3;
  text-decoration: none;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  max-width: 99%;
  max-height: 99%;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.normal {
  background-color: #2a475e;
  color: #d1dce6;
  border: 2px solid #2a475e;
}

.normal:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #2a475e;
}

.instagram {
  background-color: #833AB4;
  color: #d1dce6;
  border: 2px solid #833AB4;
}

.instagram:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #833AB4;
}

.discord {
  background-color: #7289da;
  color: #d1dce6;
  border: 2px solid #7289da;
}

.discord:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #7289da;
}

.twitch {
  background-color: #6441a5;
  color: #d1dce6;
  border: 2px solid #6441a5;
}

.twitch:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #6441a5;
}

.youtube {
  background-color: #ff4d4d;
  color: #d1dce6;
  border: 2px solid #ff4d4d;
}

.youtube:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #ff4d4d;
}

.steam {
  background-color: #2a475e;
  color: #d1dce6;
  border: 2px solid #2a475e;
}

.steam:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #2a475e;
}

.spotify {
  background-color: #1DB954;
  color: #d1dce6;
  border: 2px solid #1DB954;
}

.spotify:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #1DB954;
}

.setup {
  background-color: #B87333;
  color: #d1dce6;
  border: 2px solid #B87333;
}

.setup:hover {
  background-color: #131314; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #B87333;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #d1dce6;
   text-align: center;
   background-color: #131314; /* Same as page background color */
   opacity: 0.9;
}

.floatRight {
  float:right;margin-right:95px
}

::-webkit-scrollbar { width: 12px;}
::-webkit-scrollbar-track { background: #131314; }
::-webkit-scrollbar-thumb { background: #434343; border-radius: 10px; }

@media only screen and (max-width : 640px) {
.neofetch { display: none; }
.content {
  line-height: normal;
    }
}
