/* Sources used:
    - https://static.tumblr.com/zlim8hm/29yn6561z/force-cursor.png (cursor),
    - https://github.com/google/fonts/blob/main/ofl/poppins (font)
    - https://codepen.io/nobitek/pens/public (Some of my original or forked codes that i use there)
*/

* {
  font-family: Poppins, sans-serif;
}

html {
    cursor: url('https://raw.githubusercontent.com/NobiteK/Website/main/assets/Images/cursor.png'), default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #131314;
    font-family: 'Poppins';
    font-weight: bold;
}

@font-face {
  font-family: Poppins, sans-serif;
  src: url('assets/Others/Poppins.ttf');
}

a {
    text-decoration: underline dotted #ad65ff;

    /* unvisited link */
    a:link {
      color: #8e2cff;
    }

    /* visited link */
    a:visited {
      color: #9b58ff;
    }

    /* mouse over link */
    a:hover {
      color: #9147ff;
    }

    /* selected link */
    a:active {
      color: #8330ff;
    }
}

/* ======================
          Buttons 
   ====================== */

.button {
    border: none;
    color: white;
    padding: 16px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 8px;
    max-width: 99%;
    max-height: 99%;
    -webkit-transition-duration: 0.4s; /* Safari */
    cursor: url('https://raw.githubusercontent.com/NobiteK/Website/main/assets/Images/cursor-pointer.png'), pointer;
}

.normal {
    background-color: #2a475e;
    color: #d1dce6;
    border: 2px solid #2a475e;
}

.normal:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #2a475e;
}

.instagram {
    background-color: #833AB4;
    color: #d1dce6;
    border: 2px solid #833AB4;
}

.instagram:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #833AB4;
}

.discord {
    background-color: #7289da;
    color: #d1dce6;
    border: 2px solid #7289da;
}

.discord:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #7289da;
}

.twitch {
    background-color: #6441a5;
    color: #d1dce6;
    border: 2px solid #6441a5;
}

.twitch:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #6441a5;
}

.youtube {
    background-color: #ff4d4d;
    color: #d1dce6;
    border: 2px solid #ff4d4d;
}

.youtube:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #ff4d4d;
}

.steam {
    background-color: #2a475e;
    color: #d1dce6;
    border: 2px solid #2a475e;
}

.steam:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #2a475e;
}

.spotify {
    background-color: #1DB954;
    color: #d1dce6;
    border: 2px solid #1DB954;
}

.spotify:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #1DB954;
}

.setup {
    background-color: #B87333;
    color: #d1dce6;
    border: 2px solid #B87333;
}

.setup:hover {
    background-color: #131314; /* Same as page background color */
    color: #d1dce6;
    border: 2px solid #B87333;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #d1dce6;
    text-align: center;
    background-color: #131314; /* Same as page background color */
    opacity: 0.9;
}

/* ======================
        Burger Navbar
   ====================== */

header {
    top: 0;
    position: relative;
    display: flex;
    align-items: stretch;
}

.nav {
    position: fixed;
    right: 0;
    width: 16vw;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0f0f0f;
    z-index: 100;
    align-items: stretch;
    gap: 2rem;
    transform: translateX(100%);
    transition: all 0.2s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    padding-left: 3%;
}

.nav-open {
    transform: translateX(0%);
}

.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: url('https://raw.githubusercontent.com/NobiteK/Website/main/assets/Images/cursor-pointer.png'), pointer;
}

.nav li {
    list-style: none;
    font-size: 1.39vw;
    padding: 0;
    color: white;
    cursor: url('https://raw.githubusercontent.com/NobiteK/Website/main/assets/Images/cursor-pointer.png'), pointer;
}

.nav li:nth-child(1) {
    margin-top: 20vh;
}

#burger {
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    right: 7vw;
    z-index: 1000;
    top: 9.5vh;
    cursor: url('https://raw.githubusercontent.com/NobiteK/Website/main/assets/Images/cursor-pointer.png'), pointer;
}

#burger span {
    display: block;
    position: absolute;
    height: 10%;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#burger span:nth-child(1) {
    top: 0px;
}

#burger span:nth-child(2),
#burger span:nth-child(3) {
    top: 10px;
}

#burger span:nth-child(4) {
    top: 20px;
}

#burger.open span:nth-child(1) {
    top: 0px;
    width: 0%;
    left: 0;
}

#burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#burger.open span:nth-child(4) {
    top: 0;
    width: 0%;
    left: 0;
}

/* ======================
         Preloader
   ====================== */

#preloader {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
}
        
.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(77.28deg, rgba(82, 225, 226, 1)2.24%, rgba(157, 77, 196, 1) 104.45%);
    animation: animate 0.5s linear infinite;
    margin-top: 100px;
    margin-bottom: 100px;
}
        
.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(77.28deg, rgba(82, 225, 226, 1)2.24%, rgba(157, 77, 196, 1) 104.45%);
    animation: animate 0.5s linear infinite;
}
        
.loader span:nth-child(1) {
      filter: blur(5px);
}
        
.loader span:nth-child(2) {
      filter: blur(10px);
}
        
.loader span:nth-child(3) {
     filter: blur(25px);
}
        
.loader span:nth-child(4) {
     filter: blur(50px);
}
        
.loader::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: #161616;
    border-radius: 50%;
}
        
@keyframes animate {
    0% {
         transform: rotate(0deg);
     }
    100% {
          transform: rotate(360deg);
    }
}

/* ======================
          Preloader
   ====================== */

        #preloader {
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            display: flex;
        }
        
        .loader {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: linear-gradient(77.28deg, rgba(82, 225, 226, 1)2.24%, rgba(157, 77, 196, 1) 104.45%);
            animation: animate 0.5s linear infinite;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        .loader span {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(77.28deg, rgba(82, 225, 226, 1)2.24%, rgba(157, 77, 196, 1) 104.45%);
            animation: animate 0.5s linear infinite;
        }
        
        .loader span:nth-child(1) {
            filter: blur(5px);
        }
        
        .loader span:nth-child(2) {
            filter: blur(10px);
        }
        
        .loader span:nth-child(3) {
            filter: blur(25px);
        }
        
        .loader span:nth-child(4) {
            filter: blur(50px);
        }
        
        .loader::after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            background-color: #161616;
            border-radius: 50%;
        }
        
        @keyframes animate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

/* ======================
          Scrollbar
   ====================== */

::-webkit-scrollbar { width: 12px;}
::-webkit-scrollbar-track { background: #131314; }
::-webkit-scrollbar-thumb { background: #434343; border-radius: 10px; }
